.wish-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.wish-item label {
  font-size: 16px;
  cursor: pointer;
}

.wish-item input[type="checkbox"] {
  margin-right: 10px;
}
